{
    "extends": ["prettier", "eslint:recommended"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": 2,
        "yoda": 2,
        "no-var": "error",
        "semi": "error",
        "indent": "error",
        "no-multi-spaces": "error",
        "space-in-parens": "error",
        "no-multiple-empty-lines": "error",
        "prefer-const": "error",
        "no-use-before-define": "error"
    },
    "env": {
        "es6": true,
        "node": true,
        "commonjs": true
    }
}